{% extends 'index.html' %}
{% block title %} | contact{% endblock title %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="static/css/contact.css">
<section class="ul_contact">
    <ul>
        <li>
            <p>this is contact page.
            </p>
        </li>
        <li>
            <p>this is contact page.
            </p>
        </li>
        <li>
            <p>this is contact page.
            </p>
        </li>
        <li>
            <p>this is contact page.
            </p>
        </li>
        <li>
            <p>this is contact page.
            </p>
        </li>
        <li>
            <p>this is contact page.
            </p>
        </li>
        <li>
            <p>this is contact page.
            </p>
        </li>
        <li>
            <p>this is contact page.
            </p>
        </li>
    </ul>
</section>

{% endblock %}
