{% extends 'index.html' %}
{% block title %} | contact{% endblock title %}
{% block content %}
{% load static %}


<section>
<center>
    <ul>
        <li>
            <p>this is contact page.
            </p>
        </li>
        <li>
            <p>this is contact page.
            </p>
        </li>
        <li>
            <p>this is contact page.
            </p>
        </li>
        <li>
            <p>this is contact page.
            </p>
        </li>
    </ul>
</center>
</section>

{% endblock %}
